<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.blog.mapper.SysUserMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xy.blog.entity.SysUser">
        <id column="id" property="id"/>
        <id column="name" property="name"/>
        <id column="header" property="header"/>
        <id column="signature" property="signature"/>
        <id column="comment" property="comment"/>
        <id column="username" property="username"/>
        <id column="password" property="password"/>
    </resultMap>
    <select id="getByUsername" resultMap="BaseResultMap">
        select id,
               name,
               header,
               signature,
               comment,
               username,
               password
        from bl_sys_user
        where username = #{username}
    </select>

    <update id="updateSysUser">
        update bl_sys_user
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="header != null and header != ''">
                header = #{header},
            </if>
            <if test="signature != null and signature != ''">
                signature = #{signature},
            </if>
            <if test="comment != null and comment != ''">
                `comment` = #{comment},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updatePwd">
        update bl_sys_user set password = #{newPwd}
        where id = #{id}
    </update>

</mapper>
